#instructions {
    position: absolute;
    margin: 20px;
    width: 20%;
    top: 35px;
    bottom: 30%;
    padding: 20px;
    background-color: #fff;
    overflow-y: scroll;
    font-family: sans-serif;
}