<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="true">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Users</a>
        <button class="btn btn-link nav-item nav-link" [routerLink]="'/signup'">Logout</button>
    </div>
</nav>

<div class="app-container">
<router-outlet></router-outlet>
</div>